<template name="layout">
	<head>	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>NoMoreApps</title>
	</head>
	<body>
		{{> navBar}}
		{{> sideBar}}
		{{> loading}}
		<div id="main" class="container">
			{{> Template.dynamic template=main}}
		</div>
		<script type="text/javascript">
			$(document).ajaxSend(function () {
				console.log("Passei")
			   	openNav();
			});

			$(document).ajaxComplete(function () {
			   	closeNav();
			});
		</script>
	</body>
	<footer>		
	</footer>
</template>
