.navbar-brand {
	padding-top: auto !important;
	padding-bottom: auto !important;
}

.user-info {
	padding-top: auto !important;
	padding-bottom: auto !important;
}

.navbar-brand {
	height: auto !important;
}

@media screen and (max-width: 768px) {
	.navbar-brand {
	    padding-top: 7px !important;
	    padding-bottom: 15px !important;
	}
	.user-info {

	}
}