<template name="navBar">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" data-toggle="modal" data-target=".modal-bots">
          <img alt="Bots" src="/bots_white.svg">
        </a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false" id="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active">
          </li>
        </ul> 
      </div>
    </div>
  </nav>
</template>