/* ======== The side navigation menu =========*/
.overlay-content {
    /*position: relative;*/
    /*top: 25%;*/
    /*text-align: left;*/
    /*margin-top: 30px;*/
    /*width: 100%;    */
    /*padding:15px;*/
}

.overlay-content h4 {
    font-weight: bold;
    /*font-size: 24px;*/
}

.overlay-content a {
    border-bottom: 1px solid rgba(255,255,255,.15)!important;
    padding: 20px;
}

.overlay-content img {
    max-width: 100px;
    min-height: 100px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay a {
    /*padding: 8px;*/
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    /*font-size: 20px*/
  }
  .overlay .closebtn {
/*    font-size: 40px;*/
    top: 15px;
    right: 35px;
  }
}

/* ======== The side navigation menu =========*/

/* ======== The slick =========*/
.slick-prev:before {
  color: black;
}

.slick-next:before {
  color: black;
}
.slick-prev:before, .slick-next:before {
    font-size: 50px;
}
/* ======== The side navigation menu =========*/

/* ======== Loading ==========================*/
.loading {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    display: none;
}
.loading img {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}
/* ======== Loading ==========================*/