<template name="sideBar">
	<div id="mySidenav" class="overlay">
	  	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<div class="overlay-content">
			{{#each apps}}
				<a href="#" id="appExample">
					<div class="row">
						<div class="col-xs-1">
							{{#if logo}}
							<img src="{{logo}}" class="img-circle img-responsive"/>
							{{/if}}
						</div>
						<div class="col-xs-11">
							<h4>{{name}}</h4>
							<p>{{description}}</p>
						</div>
					</div>
				</a>
			{{/each}}
		</div>
	</div>
</template>