<template name="sideBar">
	<div class="modal fade modal-bots" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="gridSystemModalLabel">
					<img src="/bots.svg" />
					Bots
					</h4>
				</div>
				<div class="modal-body">
					<ul class="nav nav-pills nav-stacked">
						{{#each bots}}
							<li role="presentation" class="li-bot">
								<a id="app-{{@index}}" href="#" class="app-info well well-lg " data-bot-info={{stringify this}} data-dismiss="modal">
									<div class="row">
										<div class="col-sm-2">
											{{#if urlLogo}}
												<img src="{{urlLogo}}" class="img-rounded img-responsive app-logo"/>
											{{/if}}
										</div>
										<div class="col-sm-10">
											<h4>{{name}}</h4>
											<p>{{description}}</p>
										</div>
									</div>
								</a>
							</li>
						{{/each}}
					</ul>      
				</div>
			</div>
		</div>
	</div>
</template>
