<template name="sideBar">
	<div id="mySidenav" class="overlay">
	  	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<div class="overlay-content">
			{{#each apps}}
				<a id="app-{{@index}}" href="#" class="appInfo" data-app={{stringify this}}>
					<div class="row">
						<div  style="float:left;margin-right: 10px;">
							{{#if logo}}
								<img src="{{logo}}" class="img-circle img-responsive"/>
							{{/if}}
						</div>
						<div style="float:left;max-width: 80%">
							<h4>{{name}}</h4>
							<p>{{description}}</p>
						</div>
					</div>
				</a>
			{{/each}}
		</div>
	</div>
</template>