.component-command {

}

a:link.component-command {
    text-decoration: none;
}

a:visited.component-command { 
    text-decoration: none;
}

a:hover.component-command {
    text-decoration: none;
}

a:active.component-command '{
    text-decoration: none;
}